@import './normalize.css';

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --small-padding: 15px;
  --medium-padding: 0.3em;

  --tux-fontFamilyHeading: 'Montserrat', sans-serif;
  --tux-fontFamilyParagraph: 'Montserrat', sans-serif;
}

* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}